doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width")
        title Texterra-test
        link(rel="stylesheet" href="css/libs.min.css")
        link(rel="stylesheet" href="css/main.min.css")
    body
        header.container-fluid
            h1.main-heading.text-center.text-uppercase.container Этапы
                br
                | герметизации шва
                span.heading__text
                    span.heading__text-content Процесс рассматривается на основе использования акрилового герметика.
        main.container
            .prepare.row
                img(src="img/illustration1.png").prepare__illustration.col-sm-12
                h2.prepare__heading.text-uppercase Подготовка швов к герметизации
                .col-sm-4.stage.prepare-stage
                    h3.stage__heading
                        span.stage__number 1
                        |этап
                    h4.stage__caption.text-uppercase Подготовка поверхности
                    | Сначала швы очищаются от старого уплотнителя, загрязнений, пыли, лака или воска, ухудшающих адгезию герметика к поверхности древесины. Затем они обезжириваются (при необходимости) и высушиваются.
                .col-sm-4.stage.prepare-stage
                    h3.stage__heading
                        span.stage__number 2
                        | этап
                    h4.stage__caption.text-uppercase Утепление
                    | В швы закладываются теплоизоляционные шнуры. Помимо теплоизоляции они способствуют сцепляемости герметика с бревнами только в двух точках, что в дальнейшем позволяет ему работать как эластичной резине между двумя поверхностями. Кроме того, использование теплоизоляционных шнуров позволяет уменьшить расход герметика.
                .col-sm-4.stage.prepare-stage
                    h3.stage__heading
                        span.stage__number 3
                        | этап
                    h4.stage__caption.text-uppercase Увлажнение
                    | Для лучшего сцепления герметика с поверхностью дерева шов увлажняется при помощи пульверизатора или влажной губки. При этом необходимо избегать образования скоплений воды.
            .fill
                h2.fill__heading.text-uppercase Заполнение швов герметиком
                .stage.fill-stage
                    h3.stage__heading
                        span.stage__number 1
                        | этап
                    h4.stage__caption.text-uppercase Нанесение герметика
                    | Состав наносится с помощью монтажного пистолета равномерным слоем толщиной 4-6 мм.
                .stage.fill-stage
                    h3.stage__heading
                        span.stage__number 2
                        | этап
                    h4.stage__caption.text-uppercase Разглаживание
                    | Выполняется в течение 15 минут после нанесения герметика. Для этого с помощью специальных лекал или узких шпателей состав разглаживается для придания шву эстетичного вида. Чтобы герметик не прилипал к инструменту, его допускается смачивать в мыльном растворе. Излишки состава удаляются влажной губкой. После этого в течение 1 часа происходит полимеризация герметика (образование прочной и эластичной пленки). Для его полного высыхания понадобится от 2 до 8 недель.
            .protection
                h2.protection__heading.text-uppercase Дополнительная защита швов
                .protection__text После завершения процесса полимеризации герметика состав покрывается одним или двумя слоями лакокрасочного материала любого цвета. Он выполняет одновременно защитную и декоративную функции.
                .developed Разработано:
                    img(src="img/company-logo.png")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="js/libs.min.js")
    script(src="js/main.js")